<form [formGroup]="formulario">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">		
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com">
    </div>
  </div>

  <div class="col-sm-12"> 
    <button type="submit" class="btn btn-primary">Enviar</button>
    <app-form-debug [form]="formulario"></app-form-debug>
  </div>		
</form>